//card pricebox text
.secondary-header{
    font-size: 1.5rem;
    font-weight: 500;
}
.tertiary-header{
    font-size: 1.4rem;
    font-weight: 300;
    color: $color-card-text;
    text-align: left;
}